---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import ServicesNew from '../components/ServicesNew.astro';
import Portfolio from '../components/Portfolio.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Clifton T. Canady | Web Developer and Copywriter">
  <Navigation />
  <main>
    <Hero />
    <About />
    <ServicesNew />
    <Portfolio />
    <Contact />
  </main>
  <Footer />
</Layout>
